<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
    <title>{{title}}</title>
</head>


<body>
     <div class="main-content">
      {{>header}}
      {{content}}
    
    <img src="img/kedarnath.jpg">
    </div>
       {{>footer}}
</body>

</html>